.navBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.Nav {
  background-color: #050a19 !important;
}
.navbar-brand > .NavBack {
  cursor: pointer;
  transition: all ease-in 0.3s;
}
.NavBack:hover {
  opacity: 0.6;
}

.nav-order {
  display: contents;
}
.nav-avatar {
  cursor: pointer;
  transition: all ease 0.3s;
}
.nav-avatar:hover {
  opacity: 0.7;
}
