#long-button > path {
  color: #637382;
}
#long-button {
  cursor: pointer;
  transition: all ease-in 0.3s;
  width: 24px;
}
#long-button:hover {
  opacity: 0.7;
}
.custom-colorRow {
  background-color: #f4f6f8;
}
