.setHistoryColor {
  background-color: #050a19 !important;
  color: white !important;
}
.button-container {
  display: flex;
  justify-content: center;
}
.history-pagination > ul > li > button,
.history-pagination > ul > li > div {
  color: #fff;
}
