.margin-space {
  margin-top: 80px;
}
.app {
  background-color: #090e28;
}
.fillter,
.tableOder {
  cursor: pointer;
  text-decoration: none;
  opacity: 1;
  transition: all ease-in-out 0.2s;
}
.fillter:hover,
.tableOder:hover {
  opacity: 0.6;
}
.cardList {
  background-color: #212a75 !important;
  color: white !important;
}
.fillter {
  backdrop-filter: brightness(0.7);
}
