* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Public Sans", sans-serif !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Public Sans", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;

  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: #090e28;
}

button:not(
    .chat-close-button,
    .history-pagination > ul > li > button,
    .alert-custom > div > button,
    .MuiPickersCalendarHeader-switchViewButton,
    .MuiPickersDay-root,
    .MuiPickersArrowSwitcher-button,
    .MuiIconButton-edgeEnd,
    .rs__cell > .css-10vjzfb-MuiButtonBase-root-MuiButton-root,
    .rs__event__item > div > .css-10d1a0h-MuiButtonBase-root,
    .rs__view_navigator > .MuiButtonBase-root,
    .css-13ebml7 > div > div > .css-78trlr-MuiButtonBase-root-MuiIconButton-root
  ) {
  background-color: #2b32b2;
  border-radius: 50px !important;
  padding: 6px 18px !important;
  border: none !important;
  transition: all ease 0.3s !important;
}
button:not(
    .chat-close-button,
    .history-pagination > ul > li > button,
    .MuiPickersCalendarHeader-switchViewButton,
    .MuiPickersDay-root,
    .MuiPickersArrowSwitcher-button,
    .MuiIconButton-edgeEnd,
    .rs__cell > .css-10vjzfb-MuiButtonBase-root-MuiButton-root,
    .rs__event__item > div > .css-10d1a0h-MuiButtonBase-root,
    .rs__view_navigator > .MuiButtonBase-root,
    .css-13ebml7 > div > div > .css-78trlr-MuiButtonBase-root-MuiIconButton-root
  ):hover {
  opacity: 0.7;
  background-color: #2b32b2;
}
.buttonDisible {
  background-color: #61779d !important;
  border-radius: 50px !important;
  padding: 6px 18px !important;
  border: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body > .modalInvoice,
body > .modal {
  z-index: 2000;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.form-check-label {
  color: #000;
}
